<header>
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header">
                <li class="icon icon1"><a href="/admin_inicio"><span></span></a></li>
                <li class="icon icon2"><a href="/admin_educacion"> <span></span></a></li>
                <li class="icon icon3"><a href="/admin_reservas"> <span></span></a></li>
                <li class="icon icon4"><a href="/admin_contacto"> <span></span></a></li>
                <li class="icon icon5"><a href="/admin_cartama"> <span></span></a></li>
                <li class="icon icon6"><a href="/admin_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p>Inicio</p>
                <p>Educacion</p>
                <p>Reservas</p>
                <p>Contacto</p>
                <p>Cartama</p>
                <p>Usuario </p>
            </div>
        </nav>
    </header>
                                               
 
    
    <main class="contenedor-nueva-publicacion">
     
        <section class="nueva_publicacion">
            <h1 class="titulo">PQRS</h1>
            <a class="link_whatsapp" href="https://web.whatsapp.com/"><img class="img_whatsapp"></a>
        </section>
        
    </main>
