
    <main class="index main_del_index">
        <section class="masthead d-flex">
            <div class="container text-center my-auto">
                <h1 class="title_index">Bienvenido al parque educativo Cartama</h1>
                <h3 class="slogan">
                    <em>Un encuentro de saberes</em>
                </h3>
                
                <section class="buttons_actions">
                    <a class="signup_button" href="/signup" title="Crear una cuenta en el Parque educativo Cartama">
                    Crear cuenta
                    </a>

                    <a class="signin_button" href="/signin" title="Inicia Sesion si ya tienes cuenta creada">
                        Ingresar
                    </a>
                </section>
                
            </div>
            <div class="overlay"></div>
        </section>
    </main>   
   

 