<body>
    <header> 
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header">
                <li class="icon icon1"><a href="/inicio_usuario"><span></span></a></li>
                <li class="icon icon2"><a href="/educacion_usuario"> <span></span></a></li>
                <li class="icon icon3"><a href="/reservas_usuario"> <span></span></a></li>
                <li class="icon icon4"><a href="/contacto_usuario"> <span></span></a></li>
                <li class="icon icon5"><a href="/cartama_usuario"> <span></span></a></li>
                <li class="icon icon6"><a href="/usuario_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p>Inicio</p>
                <p>Educacion</p>
                <p>Reservas</p>
                <p>Contacto</p>
                <p>Cartama</p>
                <p>Usuario </p>
            </div>
        </nav>
    </header>                                     
    <section class="contenedor-imagen-bienvenida">
        <section class="imagen-para-desktop">
            <p class="slogan-parque-cartama">Parque educativo cartama, Un encuentro de saberes</p>
        </section>
    </section>
    

    <main>
       <h1>Contactanos</h1>
       <section class="seccion-pqrs">
      `
             <div class="div-peticion clase-PQRS">
                
                <a class="peticion PQRS-name tipo_pqrs" href="">Peticion</a>
            </div>

            <div class="div-queja clase-PQRS">
               
                <a class="queja PQRS-name tipo_pqrs" href=""> Queja</a></div>

            <div class="div-reclamo clase-PQRS">
               
                <a class="reclamo PQRS-name tipo_pqrs" href=""> Reclamo</a>
            </div>

            <div class="div-sugerencia clase-PQRS">
              
                <a class="sugerencia PQRS-name tipo_pqrs" href="">Sugerencia</a>
            </div> 
       </section>
   

    </main>

    <footer class="contenedor-footer">
        <section  class="informacion-contacto">

            <a  target="_blank" class="medios_contacto" href="https://www.google.com.co/maps/place/Cl.+17+%23121+101,+T%C3%A1mesis,+Antioquia/@5.6674259,-75.7172144,17z/data=!3m1!4b1!4m5!3m4!1s0x8e465628143cd155:0x515919f6726f027f!8m2!3d5.6674259!4d-75.7150257">Ubicacion: Cl. 17 #121 101, Támesis, Antioquia</a>
            
            <a target="_blank" class="medios_contacto" href="mailto:parqueeducativo@tamesis-antioquia.gov.co">Email: parqueeducativo@tamesis-antioquia.gov.co</a>

            <a target="_blank" class="medios_contacto" href="tel:+4733378901">Telefono: </a> 
            
            
        </section>

        <section class="redes-digitales-parque-iconos">
            <a class="medios_contacto" href="https://www.facebook.com/parqueeducativocartama">Facebook Oficial</a>
            <a class="medios_contacto" href="/contacto_desarrolladores">Conoce los Desarrolladores</a>
            <a class="medios_contacto" href="http://www.tamesis-antioquia.gov.co/">Web Tamesis Antioquia</a>
        </section>
    </footer>
</body>