<section class="section_developers">

    <article class="singular_developer">
            <h2 class="name"> ·     Maritza Ruiz Ospina</h2>
            
            <h3> 
                <a class="contac_way" href="https://www.linkedin.com/in/ruizmaritza181">Contactar via LinkedIn</a> 
            </h3>
            
            
            <h3> 
                <a class="contac_way" href="mailto:ruizmaritza181@gmail.com"> Contactar via email </a>  
            </h3>

    </article>

    <article class="singular_developer">
            <h2 class="name"> ·     Zulma Agudelo Molina</h2>
            
            <h3> 
                <a class="contac_way" href="https://www.linkedin.com/in/zulma-agudelo-molina-0a0537256">Contactar via LinkedIn</a> 
            </h3>
            
            <h3> 
                <a class="contac_way" href="mailto:zuledimo@soy.sena.edu.co"> Contactar via email </a>  
            </h3>

            
    </article>

    <article class="singular_developer">
            <h2 class="name"> ·     Juan Diego Aguilar Angel</h2>
            
            <h3> 
                <a class="contac_way" href="https://www.linkedin.com/in/juan-diego-aguilar-angel-74a205212">Contactar via LinkedIn</a> 
            </h3>
            
            <h3> 
                <a class="contac_way" href="mailto:juandiegoaguilarok@gmail.com"> Contactar via email </a>  
            </h3>

            
    </article>

    <article class="singular_developer">
            <h2 class="name"> ·     Sebastian Granada Montes</h2>
            
            <h3> 
                <a class="contac_way" href="https://www.linkedin.com/in/sebastian-granadam-07807b212">Contactar via LinkedIn</a> 
            </h3>
            
            <h3> 
                <a class="contac_way" href="mailto:sebastiangranadam@gmail.com"> Contactar via email </a>  
            </h3>

            
    </article>


     <article class="singular_developer">
            <h2 class="name"> ·     Rubian Esteban Ruiz Ospina</h2>
            
            <h3> 
                <a class="contac_way" href="https://www.linkedin.com/in/esteban-ruiz-ospina-62588020b">Contactar via LinkedIn</a> 
            </h3>
            
            <h3> 
                <a class="contac_way" href="mailto:rubianruiz05@gmail.com"> Contactar via email </a>  
            </h3>

            
    </article>
    
</section>

