  <header>
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header">
                    <li class="icon icon1"><a href="/inicio_usuario"><span></span></a></li>
                <li class="icon icon2"><a href="/educacion_usuario"> <span></span></a></li>
                <li class="icon icon3"><a href="/reservas_usuario"> <span></span></a></li>
                <li class="icon icon4"><a href="/contacto_usuario"> <span></span></a></li>
                <li class="icon icon5"><a href="/cartama_usuario"> <span></span></a></li>
                <li class="icon icon6"><a href="/usuario_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p>Inicio</p>
                <p>Educacion</p>
                <p>Reservas</p>                             
                <p>Contacto</p>
                <p>Cartama</p>
                <p>Usuario </p>
            </div>
        </nav>
    </header>

    <main class="clases-del-main">
        <h1 class="titulo titulo_desktop">Mi perfil!</h1>

        <section class="contenedor_perfil_usuario">

           <section class="container_imagen_user">
                    <figure class="img-user"></figure>
                             
            </section>
            
            <section class="personal-data">

                
                <output class="nombre item_info_user">{{user.nombres}}</output>

                <output class="correo item_info_user">{{user.correo_usuario}} </output>

                <output class="numero item_info_user">{{user.telefono}}</output>

                <a class="cerrar_sesion_usuario item_info_user" href="/logout">Cerrar sesion</a>

                    
                        <a class="ver_usuarios item_info_user" href="admin_usuario/listar_usuarios" >Ver usuarios</a>
                 

                    <span class="icono_Usuario icono_Usuario_desktop name"></span>
                    <span class="icono_Usuario icono_Usuario_desktop mail"></span>
                    <span class="icono_Usuario icono_Usuario_desktop phone"></span>
                    <span class="icono_Usuario icono_Usuario_desktop close_sesion"></span>
                    <span class="icono_Usuario icono_Usuario_desktop all_users"></span>
       
                
     
            </section>



    </section>
      
</main>







{{!-- 




    <footer class="contenedor-footer">
        <section  class="informacion-contacto">
            <p>informacion de contacto: </p>
            <p >Dirección: a 12-101, Cl. 17 #121, Támesis, Antioquia Verificar</p>
            <p >Email: parqueeducativocartama@..... </p>
            <p >Teléfono: </p>
            
        </section>

        <section class="redes-digitales-parque-iconos">
            <a href=""><img src="../../../assets/icons/administrador_icons/facebook-icon.svg" alt="Icono de facebook"></a>
            <a href=""><img src="../../../assets/icons/administrador_icons/Twitter-icon.svg" alt="Icono de Twitter"></a>
            <a href=""><img src="../../../assets/icons/administrador_icons/Instagram-icon.svg" alt="Icono de Instagram"></a>
        </section>
    </footer> --}}
