
    <header>
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header"> 
                <li class="icon icon1"><a href="/inicio_usuario"><span></span></a></li>
                <li class="icon icon2"><a href="/educacion_usuario"> <span></span></a></li>
                <li class="icon icon3"><a href="/reservas_usuario"> <span></span></a></li>
                <li class="icon icon4"><a href="/contacto_usuario"> <span></span></a></li>
                <li class="icon icon5"><a href="/cartama_usuario"> <span></span></a></li>
                <li class="icon icon6"><a href="/usuario_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p>Inicio</p>
                <p>Educacion</p>
                <p>Reservas</p>
                <p>Contacto</p>
                <p>Cartama</p> 
                <p>Usuario </p> 
            </div>
        </nav>
    </header>

    <main>
         <section class="contenedor-imagen-bienvenida">
            <section class="imagen-para-desktop">
                <p>Parque educativo cartama "Un encuentro de saberes"</p>
            </section>
        </section>
        
          <h1 class="titulo2">Nuestra Historia, alianzas y periodicos <hr></h1>
        <section class="buttons-alianzas-periodico">
          
            <div class="button-alianza-periodico historia">
                <a href="/usuario_cartama/historia" title="Conoce la historia"><span class="icon-periodico"></span></a>
            </div>

            <div class="button-alianza-periodico alianza">
                <a href="/usuario_cartama/alianzas" title="Conoce nuestrar Alianzas"><span class="icon-alianza"></span></a>
            </div>

            <div class="button-alianza-periodico periodico">
                <a href="/usuario_cartama/periodicos" title="Descubre nuestro periodicos"><span class="icon-periodico"></span></a>
            </div>
        
        </section>
        <div class="Nombre-alianza-periodico">
            <p>Alianzas</p>
            <p>Periodicos</p>
            <p>Historia</p>
        </div>
        
        
        




