<header>
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header">
                <li class="icon icon1"><a href="/inicio_usuario"><span></span></a></li>
                <li class="icon icon2"><a href="/educacion_usuario"> <span></span></a></li>
                <li class="icon icon3"><a href="/reservas_usuario"> <span></span></a></li>
                <li class="icon icon4"><a href="/contacto_usuario"> <span></span></a></li>
                <li class="icon icon5"><a href="/cartama_usuario"> <span></span></a></li>
                <li class="icon icon6"><a href="/usuario_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p class="nom-inicio">Inicio</p>
                <p class="nom-educacion">Educacion</p>
                <p>Reservas</p>
                <p>Contacto</p>
                <p>Cartama</p>    
                <p>Usuario </p>
            </div>
        </nav>
    </header>

    <main>
            
        <h1>Periodicos Regionales</h1>


        <section class="seccion_periodico periodico1">

        <p class="nombre-periodico">El Relator</p>
        <a href="/usuario/periodicos/el_relator" title="Ir al periodico el Relator"><figure class="periodicos-imagen relator"></figure></a>
        </section>

        <section class="seccion_periodico periodico2">

        <p class="nombre-periodico">El Samán</p>
        <a href="/usuario/periodicos/saman" title="Ir al periodico el Saman"><figure class="periodicos-imagen saman"></figure></a>

        </section>

        <section class="seccion_periodico periodico3">

        <p class="nombre-periodico">El Petroglifo</p>
        <a href="/usuario/periodicos/petroglifo" title="Ir al periodico el Petroglifo"><figure class="periodicos-imagen petroglifo"></figure></a>
        </section>

    </main>

    {{!-- <footer class="contenedor-footer">
        <section  class="informacion-contacto">
            <p>informacion de contacto: </p>
            <p >Dirección: a 12-101, Cl. 17 #121, Támesis, Antioquia Verificar</p>
            <p >Email: parqueeducativocartama@..... </p>
            <p >Teléfono: </p>
            
        </section>

        <section class="redes-digitales-parque-iconos">
            <a href=""><img src="../../../assets/icons/administrador_icons/facebook-icon.svg" alt="Icono de facebook"></a>
            <a href=""><img src="../../../assets/icons/administrador_icons/Twitter-icon.svg" alt="Icono de Twitter"></a>
            <a href=""><img src="../../../assets/icons/administrador_icons/Instagram-icon.svg" alt="Icono de Instagram"></a>
        </section>
    </footer> --}}
