<header>
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header">
                <li class="icon icon1"><a href="/inicio_usuario"><span></span></a></li>
                <li class="icon icon2"><a href="/educacion_usuario"> <span></span></a></li>
                <li class="icon icon3"><a href="/reservas_usuario"> <span></span></a></li>
                <li class="icon icon4"><a href="/contacto_usuario"> <span></span></a></li>
                <li class="icon icon5"><a href="/cartama_usuario"> <span></span></a></li>
                <li class="icon icon6"><a href="/usuario_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p>Inicio</p>
                <p>Educacion</p> 
                <p>Reservas</p>
                <p>Contacto</p>
                <p>Cartama</p>
                <p>Usuario </p>    
            </div>       
        </nav>
    </header>


<section class="Cartama-contenido">

            <div class="cartama_video">
                <h2>Cartama Virtual  Video</h2>
    
                <iframe preload="auto" width="560" height="315" src="https://www.youtube.com/embed/xIJLR_uBTDw" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


            </div>


            <section class=" text">
                <div class="contenido-Mision">
                <h2>Mision</h2>
                <p>Lorem, ipsum 
                    dolor sit amet consectetur adipisicing elit. Similique delectus corporis, eos qui quasi ducimus fuga molestiae cupiditate! Placeat, praesentium voluptate impedit reprehenderit inventore fuga aut unde necessitatibus a minus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis consequatur ipsum ducimus saepe dolorum dignissimos debitis, aspernatur ratione facere nemo rerum repudiandae, commodi vel eveniet placeat fugit beatae nisi assumenda.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium alias id sit corrupti dolor? Eius nobis ipsa numquam id blanditiis provident, expedita adipisci doloribus voluptatibus explicabo assumenda cupiditate corrupti laboriosam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, recusandae dicta quos, aut, inventore itaque architecto culpa accusantium nobis officiis reprehenderit accusamus iste? Laudantium, saepe quidem quis sed quos temporibus.

                </p>
           
            </div>
        <div class=" text">
                <h2>Vision</h2>
                <p>Lorem, ipsum 
                    dolor sit amet consectetur adipisicing elit. Similique delectus corporis, eos qui quasi ducimus fuga molestiae cupiditate! Placeat, praesentium voluptate impedit reprehenderit inventore fuga aut unde necessitatibus a minus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis consequatur ipsum ducimus saepe dolorum dignissimos debitis, aspernatur ratione facere nemo rerum repudiandae, commodi vel eveniet placeat fugit beatae nisi assumenda.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium alias id sit corrupti dolor? Eius nobis ipsa numquam id blanditiis provident, expedita adipisci doloribus voluptatibus explicabo assumenda cupiditate corrupti laboriosam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, recusandae dicta quos, aut, inventore itaque architecto culpa accusantium nobis officiis reprehenderit accusamus iste? Laudantium, saepe quidem quis sed quos temporibus.

                </p>
            </div>
            
            </section>
          
             <div class=" text">
                <h2>Historia</h2>  
                <p>Lorem, ipsum 
                    dolor sit amet consectetur adipisicing elit. Similique delectus corporis, eos qui quasi ducimus fuga molestiae cupiditate! Placeat, praesentium voluptate impedit reprehenderit inventore fuga aut unde necessitatibus a minus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis consequatur ipsum ducimus saepe dolorum dignissimos debitis, aspernatur ratione facere nemo rerum repudiandae, commodi vel eveniet placeat fugit beatae nisi assumenda.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium alias id sit corrupti dolor? Eius nobis ipsa numquam id blanditiis provident, expedita adipisci doloribus voluptatibus explicabo assumenda cupiditate corrupti laboriosam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, recusandae dicta quos, aut, inventore itaque architecto culpa accusantium nobis officiis reprehenderit accusamus iste? Laudantium, saepe quidem quis sed quos temporibus.

                </p>
            </div>
        </section>
      
    </main>