 <header>
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header" >
           <li class="icon icon1"><a href="/admin_inicio"><span></span></a></li>
                <li class="icon icon2"><a href="/admin_educacion"> <span></span></a></li>
                <li class="icon icon3"><a href="/admin_reservas"> <span></span></a></li>
                <li class="icon icon4"><a href="/admin_contacto"> <span></span></a></li>
                <li class="icon icon5"><a href="/admin_cartama"> <span></span></a></li>
                <li class="icon icon6"><a href="/admin_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p class="nom-inicio">Inicio</p>
                <p class="nom-educacion">Educacion</p>
                <p>Reservas</p>
                <p>Contacto</p>
                <p>Cartama</p>    
                <p>Usuario </p> 
            </div>
        </nav>
    </header>

    <main>
            
        <h1>Periodicos Regionales</h1>
        <p class="nombre-periodico">El Relator</p>
        <a title="Ingresar a los Periodicos de este editorial" href="/admin_cartama/periodicos/relator"><img class="img-periodico break img_periodico_relator" ></a>


        <p class="nombre-periodico">El Samán</p>
        <a title="Ingresar a los Periodicos de este editorial" href="/admin_cartama/periodicos/saman"><img class="img-periodico break img_periodico_saman" ></a>

        <p class="nombre-periodico">El Petroglifo</p>
        <a title="Ingresar a los Periodicos de este editorial" href="/admin_cartama/periodicos/petroglifo"><img class="img-periodico break img_periodico_petroglifo" ></a>

    </main>