  <header>
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header">
                    <li class="icon icon1"><a href="/inicio_usuario"><span></span></a></li>
                <li class="icon icon2"><a href="/educacion_usuario"> <span></span></a></li>
                <li class="icon icon3"><a href="/reservas_usuario"> <span></span></a></li>
                <li class="icon icon4"><a href="/contacto_usuario"> <span></span></a></li>
                <li class="icon icon5"><a href="/cartama_usuario"> <span></span></a></li>
                <li class="icon icon6"><a href="/usuario_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p>Inicio</p>
                <p>Educacion</p>
                <p>Reservas</p>                             
                <p>Contacto</p>
                <p>Cartama</p>
                <p>Usuario </p>
            </div>
        </nav>
    </header>

    <main class="clases-del-main">
        <h1 class="titulo titulo_desktop">Mi perfil!</h1>

        <section class="contenedor_perfil_usuario">

           <section class="container_imagen_user">
                    <figure class="img-user"></figure>
                             
            </section>
            
            <section class="personal-data">

                
                <output class="nombre item_info_user">{{user.nombres}}</output>

                <output class="correo item_info_user">{{user.correo_usuario}} </output>

                <output class="numero item_info_user">{{user.telefono}}</output>

                <a class="cerrar_sesion_usuario item_info_user" href="/logout">Cerrar sesion</a>


                    <span class="icono_Usuario icono_Usuario_desktop name"></span>
                    <span class="icono_Usuario icono_Usuario_desktop mail"></span>
                    <span class="icono_Usuario icono_Usuario_desktop phone"></span>
                    <span class="icono_Usuario icono_Usuario_desktop close_sesion"></span>
       
                
     
            </section>



    </section>
      
</main>


<footer class="contenedor-footer">
    <section  class="informacion-contacto">
            <a  target="_blank" class="medios_contacto" href="https://www.google.com.co/maps/place/Cl.+17+%23121+101,+T%C3%A1mesis,+Antioquia/@5.6674259,-75.7172144,17z/data=!3m1!4b1!4m5!3m4!1s0x8e465628143cd155:0x515919f6726f027f!8m2!3d5.6674259!4d-75.7150257">Ubicacion: Cl. 17 #121 101, Támesis, Antioquia</a>
                    
            <a target="_blank" class="medios_contacto" href="mailto:parqueeducativo@tamesis-antioquia.gov.co">Email: parqueeducativo@tamesis-antioquia.gov.co</a>

            <a target="_blank" class="medios_contacto" href="tel:+4733378901">Telefono: </a> 
    </section>

    <section class="redes-digitales-parque-iconos">
            <a class="medios_contacto" href="https://www.facebook.com/parqueeducativocartama">Facebook Oficial</a>
            <a class="medios_contacto" href="">Conoce los Desarrolladores</a>
            <a class="medios_contacto" href="http://www.tamesis-antioquia.gov.co/">Web Tamesis Antioquia</a>
    </section>

</footer> 

















   
