<body>
    <header>
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header">
                <li class="icon icon1"><a href="/inicio_usuario"><span></span></a></li>
                <li class="icon icon2"><a href="/educacion_usuario"> <span></span></a></li>
                <li class="icon icon3"><a href="/reservas_usuario"> <span></span></a></li>
                <li class="icon icon4"><a href="/contacto_usuario"> <span></span></a></li>
                <li class="icon icon5"><a href="/cartama_usuario"> <span></span></a></li>
                <li class="icon icon6"><a href="/usuario_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p>Inicio</p>
                <p>Educacion</p>
                <p>Reservas</p>
                <p>Contacto</p>
                <p>Cartama</p>
                <p>Usuario </p>           
            </div>
        </nav>                
    </header>

        <main>
            <section class="break">
                <h1 class="space-our">Nuestros espacios</h1> 

                </section>  

                <section class="contenedor-reserva-salones">
                    <h2>Sala Insonorizada</h2>
                    
                    <figure class="no_noise_room"></figure>

                    <p class="marquetin marquetin_desktop">
                        Nuestra sala Insonorizada permite produccion audio de profesional de excelente calidad, reserva tu oportunidad para utilizar nuestra sala Insonorizada!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis sapiente voluptatibus ut placeat ea, repudiandae totam? Esse, accusantium tempore? Vitae magnam illo nihil voluptatibus odio, maxime blanditiis aliquid earum excepturi.
                    </p>

                    <div class="buttom_form_reserva">
                        <a class="link_form" href="/reservas_usuario/reservar_espacio/reserva_salon">Reservar</a>
                    </div>

                </section>

                <section class="marketing_title">
                    <h2>Más Ambientes para tí!</h2>
                </section>
                
                <section class="contenedor-reserva-salones ">
                    <h2>Salon B1</h2>
                    
                    <figure class="room_b1"></figure>

                    <p class="marquetin">
                        Nuestra sala Insonorizada permite produccion audio de profesional de excelente calidad, reserva tu oportunidad para utilizar nuestra sala Insonorizada!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam cum possimus qui explicabo, optio exercitationem similique fuga dicta aut cumque cupiditate quod laudantium in assumenda impedit fugiat hic perferendis ipsum!
                    </p>

                     <div class="buttom_form_reserva">
                        <a class="link_form" href="/reservas_usuario/reservar_espacio/reserva_salon">Reservar</a>
                    </div>
                </section>

                <section class="contenedor-reserva-salones room">
                    <h2>Salon B2</h2>
                    
                    <figure class="room_b2"></figure>

                    <p class="marquetin">
                        Nuestra sala Insonorizada permite produccion audio de profesional de excelente calidad, reserva tu oportunidad para utilizar nuestra sala Insonorizada!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, itaque omnis. Deleniti, ea minus voluptas assumenda autem dolorem quo optio earum incidunt maiores ratione molestias suscipit libero obcaecati, laudantium perspiciatis!
                    </p>

                     <div class="buttom_form_reserva">
                        <a class="link_form" href="/reservas_usuario/reservar_espacio/reserva_salon">Reservar</a>
                    </div>
                </section>

                <section class="contenedor-reserva-salones room">
                    <h2>Salon A1</h2>
                    
                    <figure class="room_a1"></figure>

                    <p class="marquetin">
                        Nuestra sala Insonorizada permite produccion audio de profesional de excelente calidad, reserva tu oportunidad para utilizar nuestra sala Insonorizada!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vitae esse a fugit ab accusamus ex et molestiae nostrum, eum consequuntur. Molestias earum adipisci officiis ipsam vitae laborum ad aspernatur?
                    </p>

                     <div class="buttom_form_reserva">
                        <a class="link_form" href="/reservas_usuario/reservar_espacio/reserva_salon">Reservar</a>
                    </div>
                </section>

                <section class="contenedor-reserva-salones room">
                    <h2>Salon A2</h2>
                    
                    <figure class="room_a2"></figure>

                    <p class="marquetin">
                        Nuestra sala Insonorizada permite produccion audio de profesional de excelente calidad, reserva tu oportunidad para utilizar nuestra sala Insonorizada!
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quae exercitationem reiciendis, explicabo numquam repellendus doloribus, deserunt excepturi neque repudiandae quam debitis dignissimos animi illo saepe officiis dolorem earum. Voluptatem!
                    </p>

                    <div class="buttom_form_reserva">
                        <a class="link_form" href="/reservas_usuario/reservar_espacio/reserva_salon">Reservar</a>
                    </div>
                </section>
            </section>
        </main>
</body>