<body> 
    
    <main>
        <section class="logo-parque">
            <figure class="inicio-imagen fondo1">.</figure>
        </section>
    
        <section>

            <form action="/signin" method="POST"> 
    
                <input class="inputs" type="email" name="correo_usuario" id="Correo electronico" placeholder="Correo electronico" required maxlength="180">
    
                <input class="inputs" type="password" name="password" id="clave" placeholder="Constraseña" required maxlength="100">
    
                <input class="intput-button" type="submit" value="Entrar"> 
            </form> 

            <a class="nueva-cuenta" href="/signup">Crear cuenta nueva</a>
            <a class="olvido-clave" href="/Logueo/recuperar_Cuenta/formulario_Recuperar_Cuenta.html">¿Olvido su constraseña?</a>

        </section>

        <section> 
            <figure class="logo-bandera">.</figure>
        </section>

    </main>
</body>

